{% extends 'base.html.twig' %}

{% block body %}
    <h1 id="list-title">Liste des livres</h1>

    <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('app_book_create') }}" class="btn btn-primary" title="Accéder à la création de livre">
            Nouveau livre
        </a>
    </div>

    <table class="table table-striped mt-3" aria-describedby="list-title">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Nombre d'exemplaires</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.publishedAt|date('d/m/Y') }}</td>
                <td>{{ book.copyCount }}</td>
                <td>
                    <a
                        href="{{ path('app_book_update', {id: book.id}) }}"
                        class="btn btn-primary"
                        title="Accéder à la page de modification du livre « {{ book.name }} »"
                    >
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}

