{% extends 'base.html.twig' %}

{% block body %}
    <h1 id="list-title">Liste des livres</h1>

    <div class="d-flex justify-content-end mt-3">
        {% if can_create_book %}
            {{ include('_includes/actions/_action_template.html.twig', {
                action_path: path('app_book_create'),
                action_title: "Accéder à la création de livre",
                action_label: "Nouveau livre"
            }, with_context=false) }}
        {% endif %}
    </div>

    <table class="table table-striped mt-3" aria-describedby="list-title">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Nombre d'exemplaires</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.publishedAt|date('d/m/Y') }}</td>
                <td>{{ book.copyCount }}</td>
                <td>
                    {% if is_granted(can_remove_copy_book_enum.name, book) %}
                        {{ include('_includes/actions/_action_template.html.twig', {
                            action_path: path('app_book_remove_copy', {id: book.id}),
                            action_title: "Supprimer un exemplaire",
                            action_label: "-",
                            is_danger: true
                        }, with_context=false) }}
                    {% endif %}

                    {% if can_update_book %}
                        {{ include('_includes/actions/_action_template.html.twig', {
                            action_path: path('app_book_update', {id: book.id}),
                            action_title: "Accéder à la page de modification du livre « " ~ book.name ~ " »",
                            action_label: "Modifier"
                        }, with_context=false) }}
                    {% endif %}

                    {% if is_granted(can_delete_book_enum.name, book) %}
                        {{ include('_includes/actions/_action_template.html.twig', {
                            action_path: path('app_book_delete', {id: book.id}),
                            action_title: "Réaliser la suppression du livre « " ~ book.name ~ " »",
                            action_label: "Supprimer",
                            is_danger: true
                        }, with_context=false) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}

